<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:background="#FFFFFF"
        android:icon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sudoku"
        tools:targetApi="31">
        <activity
            android:name=".about_us"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".congratsPage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".gameScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".howToPlayPage"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".homeScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".activityapp2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>